@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-satoshi font-normal text-base text-body bg-white relative z-1;
  }
}




/* In your CSS file */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px); /* Optional: adds a small upward movement */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply fadeIn class */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
